<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="AccountSid" value="AC42d294a3d4eb9ce14cb90f1cda6831db" />
    <add key="AuthToken" value="4ab503ff3a832730cb05be4b694d9664" />
  </appSettings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-10.0.0.0" newVersion="10.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>